@using System.ComponentModel.DataAnnotations.Schema
@model TournamentModel

<h1>VM22 - Resultatservice</h1>

<form asp-action="Index" asp-for="groupName">
    <label for="groupName">Velg gruppe:</label>
    <select name="groupName" id="groupName">
        <option value="Sluttspill">Sluttspel</option>
        <option value="Gruppe A">A</option>
        <option value="Gruppe B">B</option>
        <option value="Gruppe C">C</option>
        <option value="Gruppe D">D</option>
        <option value="Gruppe E">E</option>
        <option value="Gruppe F">F</option>
        <option value="Gruppe G">G</option>
        <option value="Gruppe H">H</option>
    </select>
    <select name="year" id="year" asp-for="year">
        <label for="year"></label>
        <option value="2022">2022</option>
        <option value="2018">2018</option>
        <option value="2014">2014</option>
        <option value="2010">2010</option>
        <option value="2006">2006</option>
        <option value="2002">2002</option>
        <option value="1998">1998</option>
        <option value="1994">1994</option>
        <option value="1990">1990</option>
        </select>
    <br/><br/>
    <input type="submit" class="btn btn-primary" value="Søk" />
</form>

<table class="table">
    <tr>
        <th>
            Tidspunkt
        </th>
        <th>
            HomeTeam
        </th>
        <th>
            HomeScore
        </th>
        <th>
            AwayScore
        </th>
        <th>
            AwayTeam
        </th>
        <th>
            Attendance
        </th>
        <th>
            Stadium
        </th>
        <th></th>
    </tr>
    @for (var index = 0; index < Model.kampModels.Count; index++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.kampModels[index].TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.kampModels[index].HomeTeam)
                <img class="smallImage" src="~/images/@Model.kampModels[index].HomeTeam .png" width="24" height="24" alt="~/images/@Model.kampModels[index].HomeTeam .png"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.kampModels[index].HomeScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.kampModels[index].AwayScore)
            </td>
            <td>
                <img class="teamImage" src="~/images/@Model.kampModels[index].AwayTeam .png" width="24" height="24" alt="~/images/@Model.kampModels[index].AwayTeam .png"/>
                @Html.DisplayFor(modelItem => Model.kampModels[index].AwayTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.kampModels[index].Attendance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.kampModels[index].Stadium)
            </td>

        </tr>
    }
</table>