@model List<TournamentModel>

<h3>@Model.FirstOrDefault().userName</h3>

@foreach (var tournament in Model)
{
    <table class="table" style="width:100%">
        <tr>
            <th style="width:20%">
                Gruppe
            </th>
            <th style="width:20%">
                Answer
            </th>
            <th style="width:20%">
                Home team
            </th>
            <th style="width:20%">
                Away team
            </th>
        </tr>
        @foreach (var tippeModel in tournament.TippeModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(htmlDisplay => tournament.groupName)
                </td>
                <td>
                    @Html.DisplayFor( x => tippeModel.Answer)
                </td>
                <td>
                    @Html.DisplayFor( x => tippeModel.HjemmeLag)
                </td>
                <td>
                    @Html.DisplayFor( x => tippeModel.BorteLag)
                </td>
            </tr>
        }
    </table>
}