@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TournamentModel
<h1>Gratulerer! Du har tippa ferdig!</h1>
<p>Det du har tippa skal komme opp her. Etterkvart...</p>

<table class="table" style="width:100%">
        <tr>
            <th style="width:15%">
                Heimelag
            </th>
            <th>
                H
            </th>
            <th>
                U
            </th>
            <th>
                B
            </th>
            <th style="width:15%">
                Bortelag
            <th>
                Gruppe?
            </  th>
        </tr>

@for (var index = 0; index < Model.TippeModels.Count; index++){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.kampModels[index].HomeTeam)
                    <img class="smallImage" src="@Model.kampModels[index].HomeTeamLogo" width="24" height="24" alt="@Html.DisplayFor(modelItem => Model.kampModels[index].HomeTeam).ToString()" />
                </td>
                <td>
                    @Html.DisplayFor(model => Model.TippeModels[index].Answer, "Home") 
                </td>
                <td>
                    @Html.DisplayFor(model => Model.TippeModels[index].Answer, "Tie")
                </td>
                <td>
                    @Html.DisplayFor(model => Model.TippeModels[index].Answer, "Away")
                </td>
                <td>
                    <img class="teamImage" src="@Model.kampModels[index].AwayTeamLogo" width="24" height="24" />
                    @Html.DisplayFor(modelItem => Model.kampModels[index].AwayTeam)
                </td>
            </tr>
        }