@model TournamentModel
@{
    var username = new HttpContextAccessor().HttpContext?.User.Identity?.Name?.ToUpperInvariant();
}

<div class="text-center">
    <h3>Tipping for @username</h3>
</div>
@{
    if (Model.TippeModels.Count == 0)
    {
        <text>Du har ikkje tippa endå!</text>
    }
    else
    {
        <table class="table" style="width: 100%">
            <tr>
                <th style="width: 15%; text-align: right">
                    Heimelag
                </th>
                <th>
                    H
                </th>
                <th>
                    U
                </th>
                <th>
                    B
                </th>
                <th style="width: 15%">
                    Bortelag
                </th>
            </tr>
            @for (var index = 0; index < Model.TippeModels.Count; index++)
            {
                var nifsKampId = Model.TippeModels[index].nifsKampId;
                <tr>
                    <td style="text-align: right">
                        Tippemodels sin nifskampID: @nifsKampId <br/>
                        @Html.DisplayFor(modelItem => Model.TippeModels[index].HjemmeLag)
                        @Model.kampModels.Select(i => i.nifsKampId == nifsKampId).ToString()

                    </td>
                    <td>
                        @if (@Model.TippeModels[index].Answer == "Home")
                        {
                            <text>X</text>
                        }
                    </td>
                    <td>
                        @if (@Model.TippeModels[index].Answer == "Tie")
                        {
                            <text>X</text>
                        }
                    </td>
                    <td>
                        @if (@Model.TippeModels[index].Answer == "Away")
                        {
                            <text>X</text>
                        }
                    </td>
                    <td style="text-align: left">
                        @Html.DisplayFor(modelItem => Model.TippeModels[index].BorteLag)
                    </td>
                </tr>
            }
        </table>

        <p>*Lurt å screenshotte dette</p>
    }
}
