@model TournamentModel
@{
    var username = new HttpContextAccessor().HttpContext?.User.Identity?.Name?.ToUpperInvariant();
}

<div class="text-center">
    <h3>Tipping for @username</h3>
</div>
@{
    var now = DateTime.Now;
    var tippingStartTid = new DateTime(2022, 12, 9, 14, 00, 00);
    if (now < tippingStartTid)
    {
        <text>Tippinga di kjem her når fristen for tipping har gått ut</text>
    }
    else
    {
        <table class="table" style="width: 100%">
            <tr>
                <th style="width: 15%; text-align: right">
                    Heimelag
                </th>
                <th>
                    H
                </th>
                <th>
                    U
                </th>
                <th>
                    B
                </th>
                <th style="width: 15%">
                    Bortelag
                </th>
            </tr>
            @for (var index = 0; index < Model.TippeModels.Count; index++)
            {
                var nifsKampId = Model.TippeModels[index].nifsKampId;
                <tr>
                    <td style="text-align: right">
                        @Html.DisplayFor(modelItem => Model.TippeModels[index].HjemmeLag)
                        <img class="smallImage" src="@Model.kampModels.Where(i => i.nifsKampId == nifsKampId).Select(x => x.HomeTeamLogo).FirstOrDefault()" width="24" height="24"/>
                    </td>
                    <td>
                        @if (@Model.TippeModels[index].Answer == "Home")
                        {
                            <text>X</text>
                        }
                    </td>
                    <td>
                        @if (@Model.TippeModels[index].Answer == "Tie")
                        {
                            <text>X</text>
                        }
                    </td>
                    <td>
                        @if (@Model.TippeModels[index].Answer == "Away")
                        {
                            <text>X</text>
                        }
                    </td>
                    <td style="text-align: left">
                        <img class="smallImage" src="@Model.kampModels.Where(i => i.nifsKampId == nifsKampId).Select(x => x.AwayTeamLogo).FirstOrDefault()" width="24" height="24"/>
                        @Html.DisplayFor(modelItem => Model.TippeModels[index].BorteLag)
                    </td>
                </tr>
            }
        </table>

        <p>*Lurt å screenshotte dette</p>
    }
}