@using System.ComponentModel.DataAnnotations.Schema
@using System.Diagnostics
@using System.Security.Cryptography.X509Certificates
@using getAPIstuff.Models
@model TournamentModel

<form asp-action="Index" asp-for="groupName">
    <label for="groupName">Velg gruppe</label>
    <select name="groupName" id="groupName">
        <option value="Gruppe A">A</option>
        <option value="Gruppe B">B</option>
        <option value="Gruppe C">C</option>
        <option value="Gruppe D">D</option>
        <option value="Gruppe E">E</option>
        <option value="Gruppe F">F</option>
        <option value="Gruppe G">G</option>
        <option value="Gruppe H">H</option>
        <option value="Sluttspill">Sluttspel</option>
    </select>
    <br/><br/>
    <input type="submit" value="Hent gruppe">
</form>

<form asp-action="Submit" asp-for="tournamentModel" method="post">

    <table class="table" style="width:100%">
        <tr>
            <th style="width:20%">
                Tid
            </th>
            <th style="width:15%">
                Heimelag
            </th>
            <th>
                H
            </th>
            <th>
                U
            </th>
            <th>
                B
            </th>
            <th style="width:15%">
                Bortelag
            </th>
        </tr>
        @for (var index = 0; index < Model.kampModels.Count; index++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.kampModels[index].TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.kampModels[index].HomeTeam)
                    <img class="smallImage" src="@Model.kampModels[index].HomeTeamLogo" width="24" height="24" alt="@Html.DisplayFor(modelItem => Model.kampModels[index].HomeTeam).ToString()" />
                </td>
                <td>
                    @Html.RadioButtonFor(model => Model.TippeModels[index].Answer, "Home") 
                </td>
                <td>
                    @Html.RadioButtonFor(model => Model.TippeModels[index].Answer, "Tie")
                </td>
                <td>
                    @Html.RadioButtonFor(model => Model.TippeModels[index].Answer, "Away")
                </td>
                <td>
                    <img class="teamImage" src="@Model.kampModels[index].AwayTeamLogo" width="24" height="24" />
                    @Html.DisplayFor(modelItem => Model.kampModels[index].AwayTeam)
                </td>
                @*Hidden td used to populate the model*@
                <td style="display: none">
                    <input type="text" value="@Model.kampModels[index].HomeTeam" asp-for="@Model.TippeModels[index].HjemmeLag" />
                    <input type="text" value="@Model.kampModels[index].AwayTeam" asp-for="@Model.TippeModels[index].BorteLag"/>
                    <input type="text" value="@Model.groupName" asp-for="@Model.TippeModels[index].Gruppe"/>
                </td>
            </tr>
        }
    </table>
    @{
        if (!string.IsNullOrWhiteSpace(@Model.groupName))
        {
            <input type="submit" value="Send tipping for @Model.groupName">
        }
        else
        {
            <input disabled="disabled" type="submit" value="Velg en gruppe for å sende inn">
        }
    }
</form>