@using System.ComponentModel.DataAnnotations.Schema
@model TournamentModel

<form asp-action="Index" asp-for="groupName">
    <label for="groupName">Velg gruppe</label>
    <select name="groupName" id="groupName">
        <option value="Gruppe A">A</option>
        <option value="Gruppe B">B</option>
        <option value="Gruppe C">C</option>
        <option value="Gruppe D">D</option>
        <option value="Gruppe E">E</option>
        <option value="Gruppe F">F</option>
        <option value="Gruppe G">G</option>
        <option value="Gruppe H">H</option>
    </select>
    <br/><br/>
    <input type="submit" value="Hent gruppe">
</form>

<table class="table" style="width:70%">
    <tr>
        <th style="width:20%">
            Tidspunkt
        </th>
        <th style="width:15%">
            Heimelag
        </th>
        <th>
            H
        </th>
        <th>
            U
        </th>
        <th>
            B
        </th>
        <th style="width:15%">
            Bortelag
        </th>
    </tr>
    @foreach (var item in Model.kampModels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeam)
                <img class="smallImage" src="@item.HomeTeamLogo" width="24" height="24"/>
            </td>
            <td>
                <input type="checkbox"/>
            </td>
            <td>
                <input type="checkbox"/>
            </td>
            <td>
                <input type="checkbox"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeam)
                <img class="teamImage" src="@item.AwayTeamLogo" width="24" height="24"/>
            </td>
        </tr>
    }
</table>

