@using System.Globalization
@model TournamentModel

<form asp-action="Submit" asp-for="tournamentModel" method="post">
    <table class="table" style="width: 100%">
        <tr>
            <th style="width: 20%">
                Titspunkt
            </th>
            <th style="width: 15%; text-align: right">
                Heimelag
            </th>
            <th>
                H
            </th>
            <th>
                U
            </th>
            <th>
                B
            </th>
            <th style="width: 15%">
                Bortelag
            </th>
        </tr>
        @for (var index = 0; index < Model.kampModels.Count; index++)
        {
            <tr>
                <td>
                    @{
                        //var kampStartString = Html.DisplayFor(modelItem => Model.kampModels[index].TimeStamp);
                        var kampStartString = Model.kampModels[index].TimeStamp;
                        var kampStart = DateTime.ParseExact(kampStartString, "MM/dd/yyyy HH:mm:ss", CultureInfo.InvariantCulture);
                    }
                    @kampStart.ToString("f", new CultureInfo("nn-NO"))
                </td>
                <td style="text-align: right">
                    @Html.DisplayFor(modelItem => Model.kampModels[index].HomeTeam)
                    <img class="smallImage" src="@Model.kampModels[index].HomeTeamLogo" width="24" height="24"/>
                </td>
                @*Skal ha radio button GROUP her*@
                <td>

                    @Html.RadioButtonFor(model => Model.TippeModels[index].Answer, "Home")
                    @*@Html.RadioButtonFor(model => Model.TippeModels[index].Answer, "Home", new {@required = "True", @id = @Model.TippeModels[index].nifsKampId, @name = "Tipping"})*@
                </td>
                <td>

                    @Html.RadioButtonFor(model => Model.TippeModels[index].Answer, "Tie", new { @required = "True" })
                    @*@Html.RadioButtonFor(model => Model.TippeModels[index].Answer, "Tie", new {@required = "True", @id = @Model.TippeModels[index].nifsKampId, @name = "Tipping"})*@
                </td>
                <td>
                    @*<input type="radio" asp-for="TippeModels[index].Answer" value="Away" required="True" id=@Model.TippeModels[index].nifsKampId name="Tipping" />*@
                    @Html.RadioButtonFor(model => Model.TippeModels[index].Answer, "Away")
                    @*@Html.RadioButtonFor(model => Model.TippeModels[index].Answer, "Away", new {@required = "True", @id = @Model.TippeModels[index].nifsKampId, @name = "Tipping"})*@
                </td>
                <td style="text-align: left">
                    <img class="teamImage" src="@Model.kampModels[index].AwayTeamLogo" width="24" height="24"/>
                    @Html.DisplayFor(modelItem => Model.kampModels[index].AwayTeam)
                </td>
                @*Hidden td used to populate the model*@
                <td style="display: none">
                    <input type="text" value="@Model.kampModels[index].HomeTeam" asp-for="@Model.TippeModels[index].HjemmeLag"/>
                    <input type="text" value="@Model.kampModels[index].AwayTeam" asp-for="@Model.TippeModels[index].BorteLag"/>
                    <input type="text" value="@Model.groupName" asp-for="@Model.TippeModels[index].Gruppe"/>
                    <input type="text" value="@Model.kampModels[index].nifsKampId" asp-for="@Model.kampModels[index].nifsKampId"/>
                </td>
            </tr>
        }
    </table>
    @{
        var now = DateTime.Now;
        var tippingStartTid = new DateTime(2022, 12, 17, 14, 00, 00);
        if (now < tippingStartTid)
        {
            <input type="submit" value="Send tipping for @Model.groupName">
        }
        else
        {
            <p>Tipping er stengt!</p>
        }
    }
</form>